body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/public/images/bg.jpg");
  background-color: #cccccc;
  height: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a {
  color: #00B7FF;
}

#items-table td {
  vertical-align: middle;
}

.content {
  padding-top: 10%
}
.login-button {
  width: 300px
}

.log-in-content {
  margin-top: 10%
}

.mdl-textfield__label {
  color: rgba(0,0,0,0.76)
}

.item-quality-input {
 width:200px
}

input:focus {
  outline: saddlebrown !important;
  outline-offset: 20px !important
}
.mdl-textfield{padding-bottom: 27px;}

#log-in-error-msg {
  color: red
}

#error-msg-wrap {
  height: 30px;
}
#log-in-user-name {
  border-bottom: 2px solid rgba(0,0,0)
}

#log-in-password {
  border-bottom: 2px solid rgba(0,0,0)
}

#home-header {
  background-color: #944628f0
}

#tab-bar {
  border-bottom: none
}

#init-msg p{
  font-size: 20px
}
