<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/node/material-design-lite/material.min.css">
    <link rel="stylesheet" href="/node/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/javascripts/Editor/css/editor.bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Admin</title>
</head>

<body>
    <div class="dmdl-layout mdl-js-layout mdl-layout--fixed-header mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <header class="mdl-layout__header" id="home-header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Admin Page</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <div class="mdl-tabs__tab-bar" id="tab-bar">
                    <a class="mdl-tabs__tab is-active" href="#inventory-panel">Inventory</a>
                    <a class="mdl-tabs__tab" href="#account-management-panel">Account management</a>
                    <a class="mdl-tabs__tab" href="#analytics">Analytics</a>
                </div>
                <!-- Navigation -->
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--icon" onclick="logout()">
                        <i class="material-icons">home</i>
                    </button>
                </div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-tabs__panel is-active content" id="inventory-panel">
                <div id="items-table">
                    <table id="items-list-admin" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th width="18%">Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger</td>
                                <td>System</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="account-management-panel">
                <div class="mdl-grid log-in-content">
                    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
                        <input class="mdl-textfield__input" type="text" id="sign-up-user-id">
                        <label class="mdl-textfield__label" for="sample3">UserID</label>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="sign-up-password">
                        <label class="mdl-textfield__label" for="sample3">PassWord</label>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" id="sign-up-firstname">
                        <label class="mdl-textfield__label" for="sample3">FirstName</label>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" id="sign-up-lastname">
                        <label class="mdl-textfield__label" for="sample3">LastName</label>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" id="sign-up-email">
                        <label class="mdl-textfield__label" for="sample3">E-mail</label>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1"
                                checked>
                            <span class="mdl-radio__label">Home Account</span>
                        </label>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                            <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="2">
                            <span class="mdl-radio__label">Business Account</span>
                        </label>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                            <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="3">
                            <span class="mdl-radio__label">Admin Account</span>
                        </label>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" id="error-msg-wrap">
                        <p id="log-in-error-msg">Please enter all required input</p>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <button onclick="register()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Creat Account
                        </button>
                    </div>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="analytics">
                <div class="mdl-grid log-in-content">
                    <div class="mdl-cell mdl-cell--2-col">
                        <button onclick="showAnalytics(1)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 1
                        </button>
                        <button onclick="showAnalytics(2)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 2
                        </button>
                        <button onclick="showAnalytics(3)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 3
                        </button>
                        <button onclick="showAnalytics(4)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 4
                        </button>
                        <button onclick="showAnalytics(5)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 5
                        </button>
                        <button onclick="showAnalytics(6)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 6
                        </button>
                        <button onclick="showAnalytics(7)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 7
                        </button>
                        <button onclick="showAnalytics(8)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                            Analytics 8
                        </button>
                    </div>
                    <div class="mdl-cell mdl-cell--9-col" id="analytics-content">
                        <h4 id ="analytics-header">
                            Select the Analytics you like!!
                        </h4>
                        <div id ="analytics-chart"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="/node/material-design-lite/material.min.js"> </script>
<script src="/node/jquery/dist/jquery.js"></script>
<script src="/node/datatables.net/js/jquery.dataTables.js"></script>
<script src="/node/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script src="/public/javascripts/Editor/js/dataTables.editor.js"></script>
<script src="/public/javascripts/admin.js"></script>

</html>