<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/node/material-design-lite/material.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Go</title>
  </head>
  <body>
    <div class="mdl-grid log-in-content">
        <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell">
            <input class="mdl-textfield__input" type="text" id="log-in-user-name">
            <label class="mdl-textfield__label" for="sample3">UserName</label>
          </div>
          <div class="mdl-cell mdl-cell--3-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="log-in-password">
              <label class="mdl-textfield__label" for="sample3">PassWord</label>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <button onclick="login()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Log in
            </button>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <button onclick="signup()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Sign up
            </button> 
          </div> 
    </div>   
  </body>
  <script src="/node/material-design-lite/material.min.js"> </script>
  <script src="/node/jquery/dist/jquery.js"></script>
  <script src="/public/javascripts/main.js"></script>
</html>